.header__logo {
  font-family: Roboto Slab, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  align-self: center;

}
