.header__menu-button {
  display: block;
  width: 100%;
  background-color: transparent;
  position: absolute;
  right: 0px;
  top: 50%;
  outline: none;
  border: none;
  height: 2px;
}

.header__menu-button::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  background-color: white;
  height: 2px;
  top: 2px;
  transition: transform 0.1s ease-in, top 0.2s linear 0.2s;

}

.header__menu-button::before {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  background-color: white;
  height: 2px;
  top: -4px;
  transition: transform 0.1s ease-in, top 0.2s linear 0.2s;

}