.results__title {
  margin: 0 auto;
}

@media screen and (max-width: 1234px) {
  .results__title {
    max-width: 816px;

  }
}


@media screen and (max-width: 840px) {
  .results__title {
    max-width: 688px;
  }
}


 @media screen and (max-width: 687px) {
  .results__title {
    max-width: 456px;
  }
}

@media screen and (max-width: 539px) {
  .results__title {
    max-width: 288px;
  }
}