.results__title {
  margin: 18px auto 64px;

}

@media screen and (max-width: 1234px) {
  .results__title {
    max-width: 816px;
    margin: 8px auto 32px;
  }
}


@media screen and (max-width: 840px) {
  .results__title {
    max-width: 688px;
  }
}


 @media screen and (max-width: 687px) {
  .results__title {
    max-width: 456px;
  }
}

@media screen and (max-width: 539px) {
  .results__title {
    max-width: 288px;
    margin: 8px auto 24px;
  }
}