.header__content {
  color: white;
  font-family: Roboto, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  justify-content: space-between;
  min-height: 80px;
  position: relative;
}

.header__content_mobile {
  /* flex-direction: column; */
  background: #1A1B22;
  border-radius: 16px;
  min-height: none;
  max-width: none;
  width: 90%;
  /* padding-right: 5%;
  padding-left: 5%; */
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
  /* box-sizing: border-box; */

  /* align-items: flex-start; */

}


@media screen and (max-width: 800px) {
  .header__content {
    min-height: 66px;
  }
}

@media screen and (max-width: 680px) {
  .header__content {
    min-height: 56px;
  }
}

/* .header__content_mobile */
