.results__button {
  display: block;
  font-family: Roboto;
  font-size: 18px;
  line-height: 24px;
  border: 1px solid white;
  color: #1A1B22;
  background-color: white;
  ;
  padding: 18px 84px 22px;
  margin-top: 19px;
  border-radius: 100px;
  cursor: url(../../../images/pointer.svg), pointer;
  outline: none;
  margin: 0 auto;
}