@import url(./__menu/header__menu.css);
@import url(./__button/header__button.css);
@import url(./__li/header__li.css);
@import url(./__link/header__link.css);
@import url(./__links/header__links.css);
@import url(./__logo/header__logo.css);
@import url(./__link/_active/header__link_active.css);
@import url(./__link/_none/header__link_none.css);
@import url(./__button/_in/header__button_in.css);

.header {
    color: white;
    font-family: Roboto, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom: 1px solid rgba(196, 196, 196);
    position: cover;


}

