.header__button {
  background: transparent;
  border: 1px solid white;
  color: white;
  position: relative;
  padding: 12px 12px 15px;
  border-radius: 100px;
  cursor: url(../../../images/pointer.svg), pointer;
  outline: none;
  box-sizing: content-box;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 20px 20px 20px black; */
}

.header__button:hover {
  opacity: .7;
}

.header__button:active {
  box-shadow: none;
}